<button 
  type="button" 
  class="px-4 rounded cursor-pointer {{if this.loading 'opacity-25 cursor-not-allowed'}} {{this.sizeClass}} {{this.typeClass}}" 
  ...attributes
  disabled={{this.loading}}
>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{@name}}
  {{/if}}
</button>