<div 
  class="fixed bg-black left-0 bottom-0 right-0 top-0 transition-opacity duration-100 ease-in {{if this.startAnimate 'opacity-25' 'opacity-0'}}"
></div>
<div 
  class="fixed modal transition-opacity duration-100 ease-in {{if this.startAnimate 'opacity-1' 'opacity-0'}} {{@modalClass}}"
>
  <div class="fixed right-0 left-0 content shadow bg-white mx-auto p-5 rounded text-sm sm:w-3/12 w-11/12 {{@modalContentClass}}">
    {{yield}}
  </div>
</div>