<div
  class="shadow px-4 py-2 m-1 font-sm text-xs rounded-sm cursor-pointer self-stretch {{if @isActive "bg-teal-100"}}"
  role="button"
  ...attributes
  {{on "click" @handleNoteSelection}}
>

  {{#if this.title}}
    <div class="font-semibold mb-1 v-ellipsis line-1"> {{this.title}}</div>
  {{/if}}

  <div class="v-ellipsis line-3">{{{this.content}}}</div>

  <div class="flex flex-wrap justify-between text-gray-600 mt-1">
    <span class="flex items-center">
      {{svg-jar "clock" class="mr-1" width="12px"}}
      {{this.lastModifiedTime}}
    </span>
    {{#if this.tags.length}}
      <span class="flex items-center text-teal-400 font-semibold">
        {{svg-jar "tag" class="mr-1" width="12px"}}
        {{this.tags.length}}
      </span>
    {{/if}}
  </div>
</div>