<div 
  class="fixed bg-black top-0 bottom-0 right-0 left-0 opacity-25 {{if this.meta.isSideBarOpen 'block' 'hidden'}}"
  {{on "click" this.onClickOutside}}
> </div>

<div 
  class="fixed slider-menu bg-gray-100 shadow-md p-4 top-0 {{if this.meta.isSideBarOpen 'open'}}"
  {{!-- {{click-outside this.onClickOutside}} --}}
>
  <div>
    <LinkTo @route="application">
      <div class="flex items-center pb-4 border-b">
        <Logo class="mr-4" style="width: 30px"/>
        <div class="truncate">
          Hey, {{or this.user.name this.user.email}}
        </div>
      </div>
    </LinkTo>
  </div>

  <div class="mt-3 relative">

    {{#each this.menus as |menu|}}
      {{#if (eq menu.id "divider")}}
        <hr class="my-3" />
      {{else}} 
        <Sidebar::MenuItem
          @icon={{menu.icon}}
          @title={{menu.title}}
          @onClick={{fn menu.action menu}}
        />
      {{/if}}
    {{/each}}

  </div>


  <Sidebar::MenuItem
    @icon="log-out"
    @title="Log out"
    @onClick={{this.logoutUser}}
    style="bottom: 0"
    class="absolute mb-2"
  />
</div>