
{{!-- <Head>
  <title>{title}</title>

</Head> --}}

{{!-- {{#if showNav}}
  <Navs @handleAddNew={{handleAddNew}} />
{{/if}} --}}

<div class="flex p-4 sm:p-6">
  <div class="hidden md:block w-1/12">
    <Logo class="logo" @onClick={{this.meta.toggleSideBar}} />
  </div>

  <div class="w-full md:w-10/12" id="main-content">
    {{outlet}}
  </div>
</div>

<Ds::Toast />

<Sidebar />

{{#if this.user.canShowProfile}}
  <Modal>
    <Profile />
  </Modal>
{{/if}}

{{#if this.meta.canShowConfirm}}
  <Modal>
    <div class="text-center">
      {{this.meta.confirmOptions.message}}
      <div class="mt-5">
        <Button @size="sm" {{on "click" this.meta.confirmOptions.onConfirm}}> {{this.meta.confirmOptions.primaryBtnLabel}} </Button>
        <Button @size="sm" @type="secondary" {{on "click" this.meta.confirmOptions.onReject}}> {{this.meta.confirmOptions.secBtnLabel}} </Button>
      </div>
    </div>
  </Modal>
{{/if}}

