<TopBar> 
  {{svg-jar "plus-circle" class="text-teal-400 h-5 ml-3"}}
  {{svg-jar "trash" class="text-gray-700 h-5 ml-3"}}
  {{svg-jar "save" class="text-gray-700 h-5 ml-3"}}
  {{svg-jar "more-vertical" class="text-gray-700 h-5 ml-3"}}
</TopBar>

<div
  class="fixed hidden md:block"
  style="right: 1em; top: 2em"
>
  <Icon
    @icon="plus"
    @class="h-10 w-10 mb-4"
    @onClick={{this.saveAndAddNew}}
  />

  <LinkTo @route="search">
    <Icon
      @icon="list"
      @class="h-10 w-10 my-4"
    />
  </LinkTo>
</div>

<div class="flex">
  <div class="w-full md:w-7/12" style="left: 100px">
    <div class="flex items-center">
      <Input
        class="text-2xl font-bold outline-none w-full sm:w-2/3"
        placeholder="What's this Note about?"
        @value={{this.title}}
        {{on "keyup" this.saveCurrentNote}}
      />
      <SavingIndicator @isSaving={{this.isNoteSaving}} />
    </div>

    <div class="mt-4">
      <Textarea
        style="height: 70vh"
        class="resize-none outline-none text-lg bg-gray-2000 w-full"
        placeholder="Type your notes here..."
        @value={{this.content}}
        {{on "keyup" this.saveCurrentNote}}
        autofocus={{true}}
      ></Textarea>
    </div>

    <div class="mt-2">
      <Tags @note={{this.content}} />
    </div>
  </div>

  <RecentNotes
    @noteId={{this.note_id}}
    @onNoteSelection={{this.handleNoteSelection}}
  />
</div>
