<TopBar> 
  <span {{on "click" this.saveAndAddNew}} role="button">
    {{svg-jar "plus-circle" class="text-teal-400 h-5 ml-3"}}
  </span>
  <span {{on "click" (fn this.deleteNote this.note_id)}}  role="button">
    {{svg-jar "trash" class="text-gray-700 h-5 ml-3"}}
  </span>
  {{!-- {{svg-jar "save" class="text-gray-700 h-5 ml-3"}} --}}
  {{!-- <span {{on "click" this.toggleSlider}}  role="button">
    {{svg-jar "more-vertical" class="text-gray-700 h-5 ml-3"}}
  </span> --}}
</TopBar>

<div class="sidenav fixed hidden md:block">
  <Icon
    @icon="plus"
    @class="h-10 w-10 mb-4"
    @onClick={{this.saveAndAddNew}}
  />

  <LinkTo @route="search">
    <Icon
      @icon="list"
      @class="h-10 w-10 my-4"
    />
  </LinkTo>

  <Icon
    @icon="trash"
    @class="h-10 w-10 mb-4"
    @onClick={{fn this.deleteNote this.note_id}}
  />
</div>

<div class="flex">
  <div class="w-full md:w-7/12" style="left: 100px">
    <div class="flex items-center">
      <Input
        class="text-xl font-bold outline-none w-full sm:w-2/3"
        placeholder="What's this Note about?"
        @value={{@model.title}}
        {{on "keyup" this.saveCurrentNote}}
      />
      <SavingIndicator @isSaving={{this.updateOrCreateNoteTask.isRunning}} />
    </div>

    <div class="mt-4">
      <Textarea
        style="height: 70vh"
        class="resize-none outline-none bg-gray-2000 w-full"
        placeholder="Type your notes here..."
        @value={{@model.content}}
        {{on "keyup" this.saveCurrentNote}}
        autofocus={{true}}
      ></Textarea>
    </div>

    <div class="mt-2">
      <Tags @content={{@model.content}} />
    </div>
  </div>

  <RecentNotes
    @noteId={{this.note_id}}
    @onNoteSelection={{this.handleNoteSelection}}
  />
</div>

<SliderMenu @toggleSlider={{this.toggleSlider}} @canShowSlider={{this.canShowSlider}} /> 
