
<div class="text-center">
  <FormContainer 
    @title="Create a JustNote account to start making beautiful notes"
    @secondaryCTA={{hash
      msg="Already have an account?"
      label="Sign In"
      route="signin"
    }}
  >
    <Input
      class="text-lg outline-none border border-gray-200 p-2 rounded-full m-4 w-3/4"
      placeholder="Name"
      autoComplete="username"
      @value={{this.name}}
    />
    <Input
      class="text-lg outline-none border border-gray-200 p-2 rounded-full m-4 w-3/4"
      placeholder="Email"
      autoComplete="email"
      @value={{this.email}}
    />
    <Input
      type="password"
      class="text-lg outline-none border border-gray-200 p-2 rounded-full m-4 w-3/4"
      placeholder="Password"
      autoComplete="current-password"
      @value={{this.password}}
    />

    <div>
      <Button class="m-4" {{on "click" (perform this.register)}}>
        Create My Notebook
      </Button>
    </div>
  </FormContainer>
</div>