<TopBar> 
  <LinkTo @route="note" class="flex text-teal-400 items-center">
    {{svg-jar "plus-circle" class="h-5 mr-1"}}
    {{!-- {{svg-jar "plus-circle" class="text-teal-400 h-5 ml-3"}} --}}
    Create New Note
  </LinkTo>
</TopBar>

<Input
  class="text-2xl font-bold outline-none w-full"
  placeholder="Search across your notes..."
  @value={{this.searchTerm}}
/>

{{#if this.noteStore.fetchNotes.isRunning}}
  <Loader class="mr-1" /> 
  &nbsp; 
  {{if this.searchTerm "Searching through your notes..." "Fetching recent notes..."}} 
{{else}}

  {{#if this.noteStore.notes}}
    {{#if this.searchTerm}}
      <p>
        Showing results for
        <span class="font-bold">&quot;{searchTerm}&quot;</span>
      </p>
    {{else}}
        <p class="font-bold"> Recent notes </p>
    {{/if}}

    {{#each this.noteStore.notes as |note|}}
      <PreviewTile
        @note={{note}}
        class="w-full sm:w-3/12"
        @handleNoteSelection={{this.goToNote}}
      />
    {{/each}}
  {{else}}
    <p>No results found!</p>
  {{/if}}



{{/if}}