<TopBar> 
  <LinkTo @route="note" @query={{hash note_id=""}} class="flex text-teal-400 items-center">
    {{svg-jar "plus-circle" class="h-5 mr-1"}}
    {{!-- {{svg-jar "plus-circle" class="text-teal-400 h-5 ml-3"}} --}}
    Create New Note
  </LinkTo>
</TopBar>

<div>

  <Input
    class="text-2xl font-bold outline-none w-full"
    placeholder="Search across your notes..."
    @value={{this.search_term}}
    {{on "keyup" (perform this.noteStore.fetchNotes this.search_term)}}
  />

{{!-- {{#if this.noteStore.fetchNotes.isRunning}}
  <div class="text-center mt-10">
    <Loader class="mr-1" /> 
    &nbsp; 
    {{if this.search_term "Searching through your notes..." "Fetching recent notes..."}} 
  </div>
{{else}} --}}

  {{#if this.noteStore.notes}}
    {{#if this.search_term}}
      <p class="my-3">
        Showing results for
        <span class="font-bold">&quot;{{this.search_term}}&quot;</span>
      </p>
    {{/if}}

    <div class="mt-4 flex flex-wrap">
      {{#each this.noteStore.notes as |note|}}
        <PreviewTile
          @note={{note}}
          class="w-full sm:w-3/12"
          @handleNoteSelection={{fn this.goToNote note}}
        />
      {{/each}}
    </div>

    <div class="text-center mt-6">
      <span class="text-blue-400 cursor-pointer" {{on "click" this.loadMore}} role="button"> Load more notes </span>
    </div>

  {{else}}
    <p class="text-center mt-10 italic text-gray-600">No results found!</p>
  {{/if}}



{{!-- {{/if}} --}}

</div>
