<div class="text-center">
  <FormContainer 
    @title="Sign In to access your notes"
    @secondaryCTA={{hash
      msg="Don't have an account?"
      label="Register"
      route="register"
    }}
  >
    <Input
      class="text-lg outline-none border border-gray-200 p-2 rounded-full m-4 w-4/5"
      placeholder="Email"
      autoComplete="email"
      @value={{this.email}}
    />
    <Input
      type="password"
      class="text-lg outline-none border border-gray-200 p-2 rounded-full m-4 w-4/5"
      placeholder="Password"
      autoComplete="current-password"
      @value={{this.password}}
    />
    <div>
      <Button 
        class="m-4" 
        @loading={{this.signIn.isRunning}}
        {{on "click" (perform this.signIn)}}
      >
        Sign In
      </Button>
    </div>
  </FormContainer>
</div>